.landing-svg{
    width: 20vw;
    height: auto;
    max-width: 256px;
    max-height:256px ;
    border-radius: 8px;  
    
  }
  

  @keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  body{
    background: linear-gradient(135deg, #268cf1, #40E0D0, #FFD700);
    background-size: 400% 400%;
    animation: gradientShift 30s ease infinite;
  }