

  @keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  body{
    background: linear-gradient(135deg, #268cf1, #40E0D0, #FFD700);
    background-size: 400% 400%;
    animation: gradientShift 90s ease infinite;
  }


  html{
    scroll-behavior: smooth;
    /* overflow-x: hidden;
    
    scroll-padding-top: 3.5rem;

    font-family: 'Rubik', sans-serif;
    font-family: 'Alef', sans-serif; */

  }